<h1>Doctor</h1>
<hr />
<h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2> 
<ul>
<% @doctors.each do |doctor| %>
  <li>
  <%= link_to doctor.name, doctor %>
  </li>
  <% end %>
  <br />
  <br />
  <%= link_to 'Add Doctor', new_doctor_path, class: "ui button blue" %>
</ul>